PORT=5003
MONGO_URI=mongodb+srv://hiu11:Tronghieu1124@cluster0.vcdf4uo.mongodb.net/?appName=Cluster0

JWT_SECRET=192cc413c183e21c05510d21e17455a84d953b09552069c19cc2a970298d125144cd372172111e197a47ca9cf8076c66
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mindxx43@gmail.com
SMTP_PASS=rnwa urnt hkbo xfas
EMAIL_FROM=mindxx43@gmail.com

OTP_EXPIRES_MINUTES=10
RESET_TOKEN_EXPIRES_MINUTES=15

CLOUDINARY_CLOUD_NAME=dv7nm2apg
CLOUDINARY_API_KEY=323772395174452
CLOUDINARY_API_SECRET=mmEiUmrbMlaTLjt2ILV6WHTJpYw